<!DOCTYPE html>
<html lang="en">

    <head>
        {% include("layouts/head.jinja") %}
    </head>

    <body>
    
        <header class="header-global">
            {% include("layouts/header.jinja") %}
        </header>

        <main>
            {% block page %}{% endblock %}
        </main>

        <footer>
            {% include("layouts/footer.jinja") %}
        </footer>

        {% include("layouts/scripts.jinja") %}

    </body>

</html>