<section class="section-sm">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="mt-5 mb-5 mt-md-0">
                    <h4>Navbars</h4>
                </div>
                <nav class="navbar navbar-expand-lg navbar-dark justify-content-between mb-3">
                    <ul class="navbar-nav navbar-nav-hover flex-row align-items-center">
                        <li class="nav-item">
                            <a href="index.html" class="nav-link" role="button">
                                <span class="nav-link-inner-text">📺 Start</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="docs/introduction.html" class="nav-link" role="button">
                                <span class="nav-link-inner-text">📕 Documentation</span>
                            </a>
                        </li>
                    </ul>
                    <div class="time text-center">
                        <span class="time text-uppercase">1:47 PM</span>
                    </div>
                </nav>
                <nav class="navbar navbar-expand-lg navbar-dark navbar-secondary justify-content-between mb-3">
                    <ul class="navbar-nav navbar-nav-hover flex-row align-items-center">
                        <li class="nav-item">
                            <a href="index.html" class="nav-link" role="button">
                                <span class="nav-link-inner-text>📺 Start</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="docs/introduction.html" class="nav-link" role="button">
                                <span class="nav-link-inner-text">📕 Documentation</span>
                            </a>
                        </li>
                    </ul>
                    <div class="time text-center">
                        <span class="time text-uppercase">1:47 PM</span>
                    </div>
                </nav>
                <nav class="navbar navbar-expand-lg navbar-dark navbar-tertiary justify-content-between">
                    <ul class="navbar-nav navbar-nav-hover flex-row align-items-center">
                        <li class="nav-item">
                            <a href="index.html" class="nav-link" role="button">
                                <span class="nav-link-inner-text">📺 Start</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="docs/introduction.html" class="nav-link" role="button">
                                <span class="nav-link-inner-text">📕 Documentation</span>
                            </a>
                        </li>
                    </ul>
                    <div class="time text-center">
                        <span class="time text-uppercase text-white">1:47 PM</span>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</section>