<section class="section-sm">
    <div class="container">
        <div class="mt-5 mb-5 mt-md-0">
            <h4>Typography</h4>
        </div>
        <div class="row py-3 align-items-center">
            <div class="col-sm-3">
                <small class="text-uppercase text-muted">Heading 1</small>
            </div>
            <div class="col-sm-9">
                <h1 class="mb-0">Windows 95 UI Kit</h1>
            </div>
        </div>
        <div class="row py-3 align-items-center">
            <div class="col-sm-3">
                <small class="text-uppercase text-muted">Heading 2</small>
            </div>
            <div class="col-sm-9">
                <h2 class="mb-0">Crafted by Themesberg.com</h2>
            </div>
        </div>
        <div class="row py-3 align-items-center">
            <div class="col-sm-3">
                <small class="text-uppercase text-muted">Heading 3</small>
            </div>
            <div class="col-sm-9">
                <h3 class="mb-0">For the most awesome developers</h3>
            </div>
        </div>
        <div class="row py-3 align-items-center">
            <div class="col-sm-3">
                <small class="text-uppercase text-muted">Heading 4</small>
            </div>
            <div class="col-sm-9">
                <h4 class="mb-0">Use this kit to travel back in time and have fun</h4>
            </div>
        </div>
        <div class="row py-3 align-items-center">
            <div class="col-sm-3">
                <small class="text-uppercase text-muted">Heading 5</small>
            </div>
            <div class="col-sm-9">
                <h5 class="mb-0">I don't know what else to write so that it looks good compared to</h5>
            </div>
        </div>
        <div class="row py-3 align-items-center">
            <div class="col-sm-3">
                <small class="text-uppercase text-muted">Heading 6</small>
            </div>
            <div class="col-sm-9">
                <h6 class="mb-0">The previous header and this header has to be even longer but we did it finally
                    :) :) :)</h6>
            </div>
        </div>
        <hr class="my-5">
        <!-- Paragraphs -->
        <div class="my-5 mt-6">
            <h4>Paragraphs</h4>
        </div>
        <div class="row py-3 align-items-center">
            <div class="col-sm-2">
                <small class="text-uppercase text-muted">Paragraph</small>
            </div>
            <div class="col-sm-10">
                <p>I will be the leader of a company that ends up being worth billions of dollars, because I got
                    the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I
                    have, to push possibilities, to show people,
                    this is the level that things could be at.</p>
            </div>
        </div>
        <div class="row py-3 align-items-center">
            <div class="col-sm-2">
                <small class="text-uppercase text-muted">Lead</small>
            </div>
            <div class="col-sm-10">
                <p class="lead">Ich werde der Anfuhrer eines Unternehmens sein, das Milliarden von Dollar wert
                    ist,
                    weil ich die Antworten habe. Ich verstehe Kultur. Ich bin der Kern. Ich denke das ist ein
                    Verantwortung, die ich habe, Moglichkeiten zu schieben, Menschen zu zeigen,
                    Dies ist das Niveau, auf dem die Dinge sein konnten.</p>
            </div>
        </div>
        <div class="row py-3 align-items-center">
            <div class="col-sm-2">
                <small class="text-uppercase text-muted">Quote</small>
            </div>
            <div class="col-sm-10">
                <blockquote class="blockquote">
                    <p class="mb-0">Sere el lider de una empresa que termina valiendo miles de millones de
                        dolares, porque obtuve las respuestas ...</p>
                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source
                            Title</cite></footer>
                </blockquote>
            </div>
        </div>
        <div class="row py-3 align-items-center">
            <div class="col-sm-2">
                <small class="text-uppercase text-muted">Muted text</small>
            </div>
            <div class="col-sm-10">
                <p class="text-muted mb-0">Voi fi liderul unei companii care ajunge sa valoreze miliarde de
                    dolari, pentru ca am toate raspunsurile...</p>
            </div>
        </div>
        <div class="row py-3 align-items-center">
            <div class="col-sm-2">
                <small class="text-uppercase text-muted">Primary text</small>
            </div>
            <div class="col-sm-10">
                <p class="text-primary mb-0">Olyan tarsasag vezetoje leszek, amely tobb milliard dollarba kerul,
                    mert megkaptam a valaszokat ...</p>
            </div>
        </div>
        <div class="row py-3 align-items-center">
            <div class="col-sm-2">
                <small class="text-uppercase text-muted">Info text</small>
            </div>
            <div class="col-sm-10">
                <p class="text-info mb-0">Je serai le chef d'une entreprise qui vaudra des milliards de dollars,
                    car j'ai eu les reponses...</p>
            </div>
        </div>
        <div class="row py-3 align-items-center">
            <div class="col-sm-2">
                <small class="text-uppercase text-muted">Success text</small>
            </div>
            <div class="col-sm-10">
                <p class="text-success mb-0">Saro il leader di un'azienda che finira per valere miliardi di
                    dollari, perche ho avuto le risposte...</p>
            </div>
        </div>
        <div class="row py-3 align-items-center">
            <div class="col-sm-2">
                <small class="text-uppercase text-muted">Warning text</small>
            </div>
            <div class="col-sm-10">
                <p class="text-warning mb-0">Eu serei o lider de uma empresa que acaba valendo bilhoes de
                    dolares, porque recebi as respostas...</p>
            </div>
        </div>
        <div class="row py-3 align-items-center">
            <div class="col-sm-2">
                <small class="text-uppercase text-muted">Danger text</small>
            </div>
            <div class="col-sm-10">
                <p class="text-danger mb-0">Bede liderem firmy, ktora ostatecznie jest warta miliardy dolarow,
                    poniewaz mam odpowiedzi...</p>
            </div>
        </div>
    </div>
</section>